@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

.backAbout{
    background: #D66E4F;
    height: 18.75rem;
    min-height: 18.75rem;
    background-size: cover;
}

.textAbout{
    margin-top: -7rem;
    font-family: Tsukimi Rounded;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    color: #121212;
    text-align: center;
}

.paraAbout{
    font-family: Tsukimi Rounded;
    font-weight: 700;
    font-size: 1.375rem;
    color: #121212;
    line-height: 1.925rem;
}

.para-textAbout{
    font-family: Cabin;
    font-weight: 300;
    font-size: 1rem;
    color: #121212;
    line-height: 1.688rem;
}