@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Cabin&display=swap');
.career{
    margin-top: 3rem;
    border: 2px solid #480F06;
    border-radius: 39px;
    background: rgba(255, 234, 232, 0.41);
    width: 1125px;
    /* height: 548px; */
}

.careerContact{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: -3rem;
}

.h2Edit{
    margin-top: 5rem;
    margin-left: 4rem;
    font-size: 25px;
    line-height: 120%;
    font-family: Cabin;
}

.JoinWed{
    margin-left: 6rem;
}

.paraEditCareer{
    font-weight: 200;
    margin-left: 4rem;
    font-family: Cabin;
}

.paraEdit{
    font-family: Cabin;
    font-weight: 200;
}

.ready{
    color: #6C0505;
    font-family: Cabin;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 4rem;
    line-height: 120%; 
}

.contactLink{
    /* text-decoration: none; */
    color: #000;
    font-size: 1.2rem;
    font-family: Cabin;
}

.border-career{
    border-bottom: 1px solid #000;
    margin-top: 2rem;
}

.phoneSection{
    margin-top: 2rem;
}

.fa-brands{
    font-size: 1.5rem;
    cursor: pointer;
}

.socialSection{
    margin-top: 2rem;
}

.formEd{
    margin-left: 4rem;
    /* border: 1px solid #000; */
    background: rgba(255, 234, 232, 0.041);
    width: 309px;
}

.btnEdit{
    margin-left: 0rem;
    margin-top: 2rem;
}

.highlighted-tag-margin{
    margin-left: 3.2rem;
}
.highlighted-tag{
    font-weight: 900;
    font-family: Cabin;
    font-size: 1.2rem;
}

@media only screen and (min-width: 200px) and (max-width: 300px){
    .career{
        width: 280px;
        margin-top: 8rem;
        height: auto;
        margin-left: auto;
    }
    .btnEdit{
        margin-bottom: 1rem;
    }
    .h2Edit{
        margin-left: 0rem;
    }
    .h5Edit{
        font-size: 1rem;
    }
    .formEd{
        margin-left: 0rem;
        width: auto;
    }
    .ready{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0rem;
        margin-top: 4rem;
    }
    .JoinWed{
        margin-left: 0.3rem;
    }
}

@media only screen and (min-width: 301px) and (max-width: 400px){
    .career{
        width: auto;
        height: auto;
        margin-top: 8rem;
        margin-left: auto;
    }
    .h5Edit{
        font-size: 1rem;
    }
    .btnEdit{
        margin-bottom: 1rem;
    }
    .h2Edit{
        margin-left: 0rem;
    }
    .formEd{
        margin-left: 0rem;
        width: auto;
    }
    .JoinWed{
        margin-left: 0.8rem;
    }
    .ready{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0rem;
        margin-top: 4rem;
    }
    
    .border-career{
        width: auto;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px){
    .career{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-top: 8rem;
    }
    .border-career{
        width: 70%;
    }
    .h5Edit{
        font-size: 1rem;
    }
    .btnEdit{
        margin-bottom: 1rem;
    }
    .h2Edit{
        margin-left: 0rem;
    }
    .formEd{
        margin-left: 0rem;
        width: auto;
    }
    .ready{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0rem;
        margin-top: 4rem;
    }
    .JoinWed{
        margin-left: 0.9rem;
    }
}
@media only screen and (min-width: 501px) and (max-width: 600px){
    .career{
        width: 460px;
        height: auto;
        margin-top: 5rem;
        margin-left: auto;
    }
    .btnEdit{
        margin-bottom: 1rem;
    }
    .h2Edit{
        margin-left: 0rem;
    }
    .formEd{
        margin-left: 0rem;
        width: auto;
    }
    .ready{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0rem;
        margin-top: 4rem;
    }
    .h2Edit{
        margin-left: 0;
    }
    .ready{
        margin-left: 0;
    }
    .formEd{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0;
    }
    .border-career{
        width: 70%;
    }
    .JoinWed{
        margin-left: 1.3rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 700px){
    .career{
        width: 460px;
        height: auto;
        margin-top: 5rem;
        margin-left: auto;
    }
    .h2Edit{
        margin-left: 0;
    }
    .ready{
        margin-left: 0;
    }
    .formEd{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0;
    }
    .border-career{
        width: 70%;
    }
    .JoinWed{
        margin-left: 1.3rem;
    }
}

@media only screen and (min-width: 701px) and (max-width: 800px){
    .career{
        width: auto;
        height: auto;
        margin-top: 5rem;
        margin-left: auto;
    }
    .h2Edit{
        margin-left: 0;
    }
    .ready{
        margin-left: 0;
    }
    .formEd{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0;
    }
    .border-career{
        width: 70%;
    }
    .JoinWed{
        margin-left: 2.6rem;
    }
}

@media only screen and (max-width: 991px){
    .paraEditCareer{
        margin-left: 0rem;
    }
}

@media only screen and (min-width: 801px) and (max-width: 991px){
    .career{
        width: auto;
        height: auto;
        margin-top: 5rem;
        margin-left: auto;
    }
    .h2Edit{
        margin-left: 0;
    }
    .ready{
        margin-left: 0;
    }
    .formEd{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0;
    }
    .border-career{
        width: 70%;
    }
}

@media only screen and (max-width: 199px){
    .career{
        width: 300px;
        height: auto;
    }
    .btnEdit{
        margin-bottom: 1rem;
    }
    .h2Edit{
        margin-left: 0rem;
    }
    .formEd{
        margin-left: 0rem;
        width: auto;
    }
    .ready{
        margin-left: 0;
    }
    .btnEdit{
        margin-left: 0rem;
        margin-top: 4rem;
    }
}

@media only screen and (max-width:991px) {
    .highlighted-tag-margin{
        margin-left: 0rem;
    }
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
    .careerPara {
        flex: 0 0 auto;
        width: 79.333333%;
    }
}
@media only screen and (min-width:1200px) and (max-width: 1399px) {
    .careerPara {
        flex: 0 0 auto;
        width: 82.333333%;
    }
}
