.emiSec{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 650px;
}

.emiContainer{
    margin-bottom: 3rem;
}

.slideBar{
    color: #6C0505;
}

.css-1diafny-MuiSlider-root{
    color: #6C0505;
}