@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.col-md-6{
    margin: auto;
}

.termsEdit{
    border: 2px solid #48060A;
    height: 50px;
    width: 350px;
    border-radius: 12px;
    background: #F6F6F6;
}

.para{
    text-align: center;
    margin-top: auto;
    padding-top: 0.6rem;
    color: #000000;
    font-family: 'ABeeZee';
    font-weight: 500;
}

@media only screen and (max-width: 330px) {
    .termsEdit{
        width: 241px;
        height: auto;
    }
    .para{
        font-size: 0.9rem;
        padding-top: 0.9rem;
    }
}

@media screen and (min-width: 331px) and (max-width: 767px) {
    .col-md-6{
        margin: auto;
    }
    .termsEdit{
        width: 370px;
    }
}